.body {
 background-color: #bebebe;
}

.dino {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(./images/dino.png);
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(./images/cactus.png);
}

.game-over {
    text-align: center;
    color: #666666;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}